@import '../../sass/variables';

.song {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  figure {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 7px;
    img { height: 100%; border-radius: 7px }
  }
  .tags {
    font-size: .85em;
    .artist, .album { color: $darkGray }
    p {
      max-width: 440px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 1.5em;
    text-align: right;
    padding-right: 15px;
    .turn-section {
      display: flex;
      align-items: center;
      width: 50px;
      .play-btn { margin-right: 5px }
      .progress-bar {
        display: inherit;
        width: 20px;
        .CircularProgressbar-path { stroke: $lightBlue }
      }
    }
    i { cursor: pointer }
    .download:hover { color: $lightBlue }
    .edit:hover { color: $darkGray }
    .dlded { color: $babyGreen }
    .delete { margin-left: 5px; &:hover { color: $babyRed } }
    .wait { cursor: initial }
    .p-action:hover { color: $lightBlue }   
    .loader {
      width: 13px; height: 13px;
      border: 3.2px solid $lightBlue;
      border-radius: 50%;
      border-top-color: transparent;
      @keyframes spin {
        from { transform: rotate(0deg) }
        to { transform: rotate(360deg) }
      }
      animation: 1s spin infinite;
    } 
  }
}