@import '../../sass/variables';

.song {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  figure {
    height: 100%;
    margin-right: 7px;
    img { height: 100%; border-radius: 7px }
  }
  .tags { font-size: .85em;
    .artist, .album { color: $darkGray }
    p {
      max-width: 440px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .actions {
    flex: 1;
    font-size: 1.5em;
    text-align: right;
    padding-right: 7px;
    .progress-bar {
      display: flex;
      width: 20px;
      margin: 0 3px 0 auto;
      &.spin {
        @keyframes spin {
          from { transform: rotate(0deg) }
          to { transform: rotate(360deg) }
        }
        animation: 1s spin infinite;
      }
    }
    i:not(.wait, .dlded) { cursor: pointer }
    .edit:hover { color: $darkGray }
    .delete {
      margin-left: 5px;
      &:hover { color: $babyRed }
    }
    .dlded { color: $babyGreen }
  }
}