@import '../../shared/sass/variables';

.package-page {
  .header-text {
    padding: 1.25em 0 .4em 0;
    font-size: 1.25em;
    text-align: center;
    p { color: $darkGray }
  }
  .btns {
    width: 70%;
    max-width: 750px;
    margin: 10px auto;
    text-align: right;
    button {
      color: white;
      &, &::before { transition-duration: .25s }
      &.dl-all, &.save-all { position: relative }
      &.dl-all {
        margin-right: 10px;
        background-color: $lightBlue;
        &:hover, &:disabled { background-color: lighten($lightBlue, 5%) }
      }
      &.save-all {
        background-color: $babyGreen;
        &::before { opacity: 1 }
        &:hover {
          background-color: lighten($babyGreen, 5%);
          &::before { background-color: lighten($lightBlue, 5%) }
        }
      }
      &.clear-all {
        background-color: $babyRed;
        &:hover, &:disabled { background-color: lighten($babyRed, 5%) }
      }
      &.redo {
        background-color: $lightGray;
        color: black;
        &:hover, &:disabled { background-color: darken($lightGray, 5%) }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 10px; height: 10px;
        background-color: $lightBlue;
        border-radius: 50%;
        margin: -3px;
        opacity: 0;
      }
    }
  }
  .songs-container {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: $lightGray;
    width: calc(70% - 20px);
    margin-bottom: 2.5em;
    max-width: 730px;
    .song:not(:last-of-type) { margin-bottom: 10px }
  }
}