@import '../../shared/sass/variables';

.package-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .songs-container {
    padding: 10px;
    border-radius: 5px;
    background-color: $lightGray;
    width: calc(70% - 20px);
    margin-bottom: 2.5em !important;
    max-width: 730px !important;
    .song:not(:last-of-type) { margin-bottom: 10px }
  }
  .btns {
    margin: 10px auto !important;
    text-align: right;
    button { color: white }
    .dl-all {
      width: 165px;
      margin-right: 10px;
      background-color: $lightBlue;
      &:hover, &:disabled {
        background-color: lighten($lightBlue, 5%)
      }
    }
    .save-all {
      position: relative;
      background-color: $babyGreen;
      &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 10px; height: 10px;
        background-color: $lightBlue;
        border-radius: 50%;
        margin: -3px;
      }
      &:hover {
        background-color: lighten($babyGreen, 5%);
        &::before { background-color: lighten($lightBlue, 5%) }
      }
    }
    .clear-all {
      background-color: $babyRed;
      &:hover, &:disabled {
        background-color: lighten($babyRed, 5%);
      }
    }
  }
}