@import '../../../shared/sass/variables';

@mixin standard-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  @include standard-flex;
  position: fixed; z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000059;
  opacity: 0;
  transition-duration: .25s;
  .content {
    @include standard-flex;
    position: relative;
    flex-direction: column;
    width: 55%;
    height: 70%;
    max-width: 600px;
    background-color: white;
    border-radius: 7px;
    .header-text {
      width: calc(80% - (5px + 14px));
      margin: 0 0 15px 10px;
      border-left: 5px solid $lightBlue;
      padding: 7px;
    }
    .entries {
      width: 80%;
      .cover-input {
        display: flex;
        .tag-input { flex: 1; margin-right: 10px }
        figure {
          position: relative;
          cursor: pointer;
          &::before, img {
            height: 53.5px;
            border-radius: 5px;
            display: flex;
          }
          &::before {
            content: '+';
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #0000008a;
            color: white;
            font-size: 2.5em;
            transition-duration: .15s;
            opacity: 0;
          }
          &:hover::before { opacity: 1 }
        }
      }
    }
    .grouped-btns {
      width: 80%;
      .cancel-edit, .save-edit { color: white }
      .cancel-edit {
        width: 30%;
        background-color: $babyRed;
      }
      .save-edit {
        width: calc(70% - 10px);
        margin-left: 10px;
        background-color: $lightBlue;
      }      
    }
    i {
      position: absolute;
      top: 0; right: 0;
      margin: 10px;
      font-size: 2em;
      cursor: pointer;
      &:hover { color: $babyRed }
    }
  }
  &.open {
    z-index: 3;
    opacity: 1;
  }
}