@import '../../shared/sass/variables';

.current-queue {
  .buttons-group {
    margin-bottom: 7px;
    text-align: right;
    button.cancel-all {
      margin-right: 10px;
      color: white;
      background-color: $babyRed;
      &:hover { background-color: darken($babyRed, 5%) }
    }
    button.dlpause-all {
      width: 165px;
      background-color: $lightGray;
      &:hover { background-color: darken($lightGray, 5%) }
    }
  }
  .songs-container {
    background-color: $lightGray;
    border-radius: 5px;
    padding: 10px;
    .song:not(:last-of-type) { margin-bottom: 10px }
  }
}