@import '../../shared/sass/variables';

.current-queue {
  .buttons-group {
    margin-bottom: 7px;
    text-align: right;
    button.cancel-all {
      margin-right: 10px;
      color: white;
      background-color: $babyRed;
    }
    button.pause-all { background-color: $lightGray }
  }
}