@import '../../shared/sass/variables';

.current-queue {
  margin: 0 auto 5em auto !important;
  .buttons-group {
    margin-bottom: 7px;
    text-align: right;
    button.remove-all {
      margin-right: 10px;
      color: white;
      background-color: $babyRed;
      &:hover { background-color: darken($babyRed, 5%) }
      &:disabled:hover { background-color: $babyRed }
    }
    button.dlpause-all {
      width: 165px;
      background-color: $lightGray;
      &:hover { background-color: darken($lightGray, 5%) }
      &:disabled:hover { background-color: $lightGray }
    }
  }
  .songs-container {
    background-color: $lightGray;
    border-radius: 5px;
    padding: 10px;
    .song:not(:last-of-type) { margin-bottom: 10px }
  }
}
.goto-folder {
  position: fixed;
  bottom: 15px; right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; height: 50px;
  font-size: 1.7em;
  cursor: pointer;
  background-color: $lightGray;
  border: 2px solid transparent;
  border-radius: 50%;
  color: $darkGray;
  transition: .25s;
  &:hover {
    color: $lightBlue;
    border-color: $lightBlue;
  }
}